.test {
  margin-top: 3rem;
}

/* Tests */
.test-header {
  font-size: 2rem;
  color: #fff;

  a {
    text-decoration: none;
    color: inherit;
  }

  &::after {
    content: " 🚀";
  }

  .phone & {
    color: blue;
  }
}

.pink {
  color: purple;
}
